{% extends "header.html"%}
{% block content %}
<div class="jumbotron">

  {% if report%}
    <p>Congrats! Your UserName and Email pass all the requirements!</p>
  {% else %}
    <p>Oh no! Looks like you had issues with your username or email!</p>
    <p>Here are the requirements you failed:</p>

    <ul>
      {% if not lower_letter %}
      <li>You did not use a lowercase character.</li>
      {% endif %}
      {% if not upper_letter %}
      <li>You did not use an uppercase character.</li>
      {% endif %}
      {% if not num_end %}
      <li>You did not end your username with a number.</li>
      {% endif %}
      {% if not validatedemail %}
      <li>You did not use an validated email.</li>  
      {% endif %}
    </ul>
  {% endif %}

</div>
{% endblock %}